<h1>Welcome to Jitter!</h1>

<%= link_to "Add Post", new_post_path, id: "new_link", remote: true %>

<% if @posts.any? %>
  <h4>Here are some posts:</h4>
  <div id="feed">
    <%= render @posts %>
  </div>
<% else %>
  <p>There are no posts yet!</p>
<% end %>
