<div class="<%= post.id %>"
  <hr>
  <%= post.user.email %><br>
  <%= post.post %>
  <% if current_user = @user %>
    <%= link_to "DELETE", post_path(post.id), remote: true, class: "btn btn-xs btn-danger",
                                              data: {confirm: "You sure?",
                                                     method: 'delete'}%>
  <% end %>
  <hr>
</div>
